////////////////////////////////////////////////////
// Detect the selected theme
//

$modern-theme:         "body:not([id='body'])";
$light-modern-theme:   "body:not([id='body']):not(.dark-mode)";
$dark-modern-theme:    "body:not([id='body']).dark-mode";
// No (simple) was to tell classic from professional/plain
//$classic-or-professional-theme: "body[id='body']";

// classic theme includes professional white theme, too.
$dark-classic-theme:   "body[id='body'].md4mefi-dark-bgcolor";
$light-classic-theme:  "body[id='body'].md4mefi-light-bgcolor";

////////////////////////////////////////////////////
// Theme colors
//

$modern-theme-green-accent: #9CC754; // yellowish-green

@mixin button {
  #{$dark-modern-theme} & {
    .md4mefi-button-text {
      color: white;
    }

    .md4mefi-button-prefix, .md4mefi-button-suffix {
      color: #bfbfbf;
    }

    &:hover {
      // Need !important to override how we set background color
      // via the element's style attribute (in javascript).
      background-color: $modern-theme-green-accent !important;

      .md4mefi-button-text {
        color: black;
      }

      .md4mefi-button-prefix, .md4mefi-button-suffix {
        color: black;
        opacity: 0.6;
      }
    }
  }

  #{$light-modern-theme} & {
    .md4mefi-button-text {
      color: black;
    }

    .md4mefi-button-prefix, .md4mefi-button-suffix {
      color: #666;
    }

    &:hover {
      background-color: #666 !important;

      .md4mefi-button-text {
        color: white;
      }

      .md4mefi-button-prefix, .md4mefi-button-suffix {
        color: #E6E6E6;
      }
    }
  }

  #{$dark-classic-theme} & {
    background-color: rgba(43, 43, 43, 0.3);
    
    .md4mefi-button-text {
      color: white;
    }

    .md4mefi-button-prefix, .md4mefi-button-suffix {
      color: #bfbfbf;
    }

    &:hover {
      // no change to bgcolor
      //mix-blend-mode: color-burn;

      .md4mefi-button-text {
        color: #CCCE2A; // MeFi yellow
      }

      .md4mefi-button-prefix, .md4mefi-button-suffix {
        color: white;
      }
    }
  }  

  #{$light-classic-theme} & {
    background-color: #e8e8e8;
    
    .md4mefi-button-text {
      color: black;
    }

    .md4mefi-button-prefix, .md4mefi-button-suffix {
      color: #999;
    }

    &:hover {
      // no change to bgcolor
      //mix-blend-mode: color-burn;
      background-color: #666;


      .md4mefi-button-text {
        color: #CCCE2A; // MeFi yellow
      }

      .md4mefi-button-prefix, .md4mefi-button-suffix {
        color: white;
      }
    }
  }  
}


////////////////////////////////////////////////////
// Toolbar
//

$toolbar-item-padding-lr: 12px;
@mixin toolbar-item {
  padding-top: 12px;
  padding-bottom: 8px;

  padding-left: $toolbar-item-padding-lr;
  padding-right: $toolbar-item-padding-lr;
}

.md4mefi-toolbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

  // Want more space between this toolbox and the preview,
  // especially since they're so close in color in dark mode.
  margin-bottom: 10px;
  margin-top: 4px;

  line-height: 1;
}

.md4mefi-title {
  @include toolbar-item;

  #{$modern-theme} & {
    font-size: 15px;
  }
}


.md4mefi-show-html  {
  // Make it align left
  flex: 2;

  font-weight: normal !important;
}


////////////////////////////////////////////////////
// Toolbar > Buttons
//

.md4mefi-buttonbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.md4mefi-button {
  @include toolbar-item;
  @include button;
  cursor: pointer;
  
  display: flex;
  justify-content: baseline;
  
  &:not(:last-child) {
    margin-right: 4px;
  }
  border-radius: 4px;

  &.md4mefi-bold {
    // Positioning the starts with translateX() puts them
    // a bit too close to the edge. Add some breating
    // room.
    padding-left: $toolbar-item-padding-lr + 3px;
    padding-right: $toolbar-item-padding-lr + 3px;
  }
}

////////////////////////////////////////////////////
// Toolbar > Buttons > Text
//

.md4mefi-bold .md4mefi-button-text {
  font-weight: bold;
}

.md4mefi-italic .md4mefi-button-text {
  font-style: italic;

  #{$modern-theme} & {
    // Make the italics look better
    letter-spacing: 0.027em; // 4px
  }
}

////////////////////////////////////////////////////
// Toolbar > Buttons > Prefix & Suffix
//

.md4mefi-bold, .md4mefi-italic {
  // Make the stars larger.
  // Use CSS transform, as opposed to larger text,
  // to avoid making the line height larger.
  $transform-scale: 1.5;
  $transform-translate-y: 0.200em;
  $transform-translate-x: 0.133em;

  .md4mefi-button-prefix {
    transform: scale($transform-scale)
               translateY($transform-translate-y)
               translateX(-1 * $transform-translate-x);
  }

  .md4mefi-button-suffix {
    transform: scale($transform-scale)
               translateY($transform-translate-y)
               translateX($transform-translate-x);
  }
}

.md4mefi-button-prefix { 
  padding-right: 2px; 
  
  .md4mefi-italic & {
    padding-right: 0px;
  }
}
.md4mefi-button-suffix { 
  padding-left: 2px;
  
  .md4mefi-italic & {
    padding-left: 0px;
  }
}

////////////////////////////////////////////////////
// MeFi Toolbar 
//
// See also: inject.js:addMessageToMeFiToolbar()
// Some CSS properties are set dynamically there.

.md4mefi-mefi-toolbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.md4mefi-mefi-toolbar-message {
  margin-right: 0.75em;

  // .smallcopy (a CSS class from MeFi) gives lots of good stuff,
  // but also messes with margins and padding. Do not want.
  &.smallcopy {
    margin-top: 0 !important;
    padding-bottom: 0 !important;
  }
}


////////////////////////////////////////////////////
// Error message
//

.md4mefi-error {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

  border-radius: 4px;
  margin: 1em 0;

  #{$dark-modern-theme} &, 
  #{$dark-classic-theme} & {
    background-color: #580000;
  }
  #{$light-modern-theme} &, 
  #{$light-classic-theme} & {
    background-color: rgb(165, 45, 25);
  }
  border: 1px solid #940E0E;

  color: white;

  padding: 0.5em;

  // When this shows up on the edit comment screen, the
  // inherited text-align is right.
  text-align: left;

  // Classic theme doesn't set this automatically, and not having
  // it messes up the flexbox sizing.
  box-sizing: border-box;
  > * { 
    box-sizing: border-box;
  }
}


.md4mefi-error-title {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

.md4mefi-error-close {
  margin-left: 0.5em;
  margin-right: 0.5em;

  cursor: pointer;
  font-weight: bold;

  align-self: center;

  transition: opacity 0.3s ease-in-out;
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }
}
