<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".xpi" />
            <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
            <remove fileExtension=".safariextz" />
            <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
            <remove fileExtension=".plist" />
            <mimeMap fileExtension=".plist" mimeType="application/octet-stream" />
            <remove fileExtension=".safariextz" />
            <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />     
            <remove fileExtension=".rdf" />
            <mimeMap fileExtension=".rdf" mimeType="application/rdf+xml" />     

            
        </staticContent>
    </system.webServer>
</configuration>