<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Evan Dickinson</string>
	<key>Builder Version</key>
	<string>10600.3.18</string>
	<key>CFBundleDisplayName</key>
	<string>Markdown for MeFi</string>
	<key>CFBundleIdentifier</key>
	<string>name.evand.md4mefi</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>1048576</real>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>script.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>md4mefi.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Enable Markdown commenting on Metafilter.com</string>
	<key>DeveloperIdentifier</key>
	<string>35XG8TUK6B</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.metafilter.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://evan-dickinson.github.io/md4mefi/assets/md4mefi.update.plist</string>
	<key>Website</key>
	<string>http://evan-dickinson.github.io/md4mefi/</string>
</dict>
</plist>
